Repository alkong-dalkong/alkong-dalkong_fe, pull requests merged in 2024-10, with the labels that each got.

#134 refactor: Button 컴포넌트
  src/components/button/Button.tsx
Labels: refactor

#137 feat: 설정 페이지 UI 및 기능 추가
  .storybook/preview.tsx
  src/apis/auth.ts
  src/app/setting/page.tsx
  src/components/bottomNav/BottomNav.tsx
  src/components/bottomSheet/BottomSheet.tsx
  src/components/button/Button.tsx
  src/components/header/Header.stories.tsx
  src/components/header/MainHeader.tsx
  src/components/header/SubHeader.tsx
  src/components/icons/Bar.tsx
  src/components/icons/Button.tsx
  src/components/icons/index.tsx
  src/components/inputGroup/Gender.tsx
  src/features/clinic/ui/ClinicClientPage.tsx
  src/features/index.ts
  src/features/setting/query/queryKeys.ts
  src/features/setting/query/settingApi.ts
  src/features/setting/query/useSetting.tsx
  src/features/setting/ui/FamilyGroupSettingBottomSheet.tsx
  src/features/setting/ui/FamilySettingBottomSheet.tsx
  src/features/setting/ui/PasswordSettingBottomSheet.tsx
  src/features/setting/ui/SettingClientPage.tsx
  src/features/setting/ui/SettingModal.tsx
  src/features/setting/ui/UserInfoSettingBottomSheet.tsx
  src/features/setting/utils/copyClipboard.ts
  src/features/setting/utils/shareCode.ts
  src/features/sign-in/SignInStep.tsx
  src/hooks/apis/useAuth.ts
  src/hooks/index.ts
  src/hooks/useBottomSheet.tsx
  src/schema/stories/AccountEditForm.stories.tsx
  src/schema/stories/PasswordEditForm.stories.tsx
  src/schema/useAccountEditForm.ts
  src/schema/usePasswordEditForm.ts
  src/store/userStore.ts
  src/types/common.ts
  src/types/index.ts
  src/types/mypage.ts
  src/types/setting.ts
  src/types/user.ts
Labels: feat

#125 feat: 건강 페이지
  .pnp.cjs
  .yarn/cache/@babel-runtime-npm-7.25.6-6725f0979a-d6143adf5a.zip
  .yarn/cache/@types-d3-array-npm-3.2.1-40c200ccb1-38bf2c7784.zip
  .yarn/cache/@types-d3-color-npm-3.1.3-220f383461-65eb0487de.zip
  .yarn/cache/@types-d3-ease-npm-3.0.2-04834f8d6b-aff5a1e572.zip
  .yarn/cache/@types-d3-interpolate-npm-3.0.4-e863f31b1c-066ebb8da5.zip
  .yarn/cache/@types-d3-path-npm-3.1.0-3b8d8ad8d4-85e8b3aa96.zip
  .yarn/cache/@types-d3-scale-npm-4.0.8-56a8af5d03-57de90e401.zip
  .yarn/cache/@types-d3-shape-npm-3.1.6-e9f2cc5cff-0625715925.zip
  .yarn/cache/@types-d3-time-npm-3.0.3-db6a45d526-245a8aadca.zip
  .yarn/cache/@types-d3-timer-npm-3.0.2-94e22db08a-c644dd9571.zip
  .yarn/cache/clsx-npm-2.1.1-96125b98be-c4c8eb865f.zip
  .yarn/cache/d3-array-npm-3.2.4-b427632bcc-08b95e9113.zip
  .yarn/cache/d3-color-npm-3.1.0-fc73fe3b15-a4e20e1115.zip
  .yarn/cache/d3-ease-npm-3.0.1-f8f3709dc7-fec8ef826c.zip
  .yarn/cache/d3-format-npm-3.1.0-dfc19924ca-049f5c0871.zip
  .yarn/cache/d3-interpolate-npm-3.0.1-77ddca7977-19f4b4daa8.zip
  .yarn/cache/d3-path-npm-3.1.0-8d69e9e4e5-dc1d58ec87.zip
  .yarn/cache/d3-scale-npm-4.0.2-d17a53447b-65d9ad8c26.zip
  .yarn/cache/d3-shape-npm-3.2.0-0beb7d8b02-f1c9d1f099.zip
  .yarn/cache/d3-time-format-npm-4.1.0-7f352c4634-735e00fb25.zip
  .yarn/cache/d3-time-npm-3.1.0-fb068fd1c9-a984f77e1a.zip
  .yarn/cache/d3-timer-npm-3.0.1-45083f465d-d4c63cb4bb.zip
  .yarn/cache/decimal.js-light-npm-2.5.1-2a858493a8-4fd33f535a.zip
  .yarn/cache/dom-helpers-npm-5.2.1-b38bb4470b-f735074d66.zip
  .yarn/cache/eventemitter3-npm-4.0.7-7afcdd74ae-5f6d97cbcb.zip
  .yarn/cache/fast-equals-npm-5.0.1-bbae54ff7b-d7077b8b68.zip
  .yarn/cache/internmap-npm-2.0.3-d74f5c9998-8cedd57f07.zip
  .yarn/cache/react-smooth-npm-4.0.1-61dcbf28ea-5c19a2c147.zip
  .yarn/cache/react-transition-group-npm-4.4.5-98ea4ef96e-2ba754ba74.zip
  .yarn/cache/recharts-npm-2.13.0-alpha.5-368ee73a12-0e67cab333.zip
  .yarn/cache/recharts-scale-npm-0.4.5-30646fd0f5-64ce1fc4eb.zip
  .yarn/cache/victory-vendor-npm-36.9.2-87294d3539-bad36de3bf.zip
  package.json
  src/app/health/[userId]/page.tsx
  src/constants/index.ts
  src/features/health/hooks/useGraph.ts
  src/features/health/query/health.ts
  src/features/health/query/queryKeys.ts
  src/features/health/query/useHealth.ts
  src/features/health/service/useWeightSelectConfirm.ts
  src/features/health/store/healthStore.ts
  src/features/health/styles/chart.css
  src/features/health/ui/GraphSection.tsx
  src/features/health/ui/HealthClientPage.tsx
  src/features/health/ui/ReportSection.tsx
  src/features/health/ui/WeightChart.tsx
  src/features/health/ui/WeightSection.tsx
  src/features/health/ui/WeightSelectBottomSheet.tsx
  src/features/health/utils/chart.ts
  src/features/index.ts
  src/types/health.ts
  src/types/index.ts
  yarn.lock
Labels: feat

#133 fix : 진료페이지 알람 부분 버튼 type 지정
  src/features/clinic/ui/ClinicCreateClientPage.tsx
Labels: fix
